<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add hall</title>
</head>
<body>
<style>
    .tb { border-collapse: collapse; }
    .tb th, .tb td { padding: 5px; border: solid 1px #777; }
    .tb th { background-color: lightblue; }
</style>
<a href="/logout">Logout</a><br>
<a href="/admin/profileInfo">My profile</a><br>
<a href="/">Home</a><br>
<form method="post" th:action="@{addHall}">
    <table class="tb">
        <tr>
            <th>Hall name: </th>
            <td><input type="text" name="hallName" required></td>
        </tr>
        <tr>
            <th>Capacity: </th>
            <td><input type="number" min="1" name="capacity" required></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Add hall"/></td>
        </tr>
    </table>
</form>
<h3 th:if="${error}">Something went wrong</h3>
</body>
</html>