<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Admin page</title>
	</head>
	<body>
	 	<a href="/logout">Logout</a><br>
		<a href="admin/profileInfo">My profile</a><br>
		<a href="admin/allUsers">All users</a><br>
		<a href="admin/allHalls">All halls</a>
		<style>
			.tb { border-collapse: collapse; }
            .tb th, .tb td { padding: 5px; border: solid 1px #777; }
            .tb th { background-color: lightblue; }
		</style>
		<table class="tb">
			<caption>All trainings</caption>
			<tr>
			 	<th>Name</th>
				<th>Instructor</th>
				<th>Description</th>
				<th>Photo</th>
				<th>Type of training</th>
				<th>Price</th>
				<th>Training type</th>
				<th>Training intensity</th>
				<th>Duration</th>
				<th>Average rating</th>
			</tr>
			<tr th:each="training : ${trainings}">
				<td><a th:text="${training.name}" th:href="@{|admin/trainingInfo?id=${training.id}|}"></a></td>
				<td th:text="${training.instructor}"></td>
				<td th:text="${training.description}"></td>
				<td th:text="${training.photo}"></td>
				<td th:text="${training.typeOfTraining}"></td>
				<td th:text="${training.price}"></td>
				<td th:text="${training.trainingType}"></td>
				<td th:text="${training.trainingLVL}"></td>
				<td th:text="${training.duration}"></td>
				<td th:text="${training.averageRating}"></td>
			</tr>
		</table>
		<br><a href="admin/addTraining">Add new training</a>
		<br><a href="admin/addHall">Add new hall</a>
	</body>
</html>