<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{allComments}"></title>
</head>
<body>
<style>
    .tb { border-collapse: collapse; }
    .tb th, .tb td { padding: 5px; border: solid 1px #777; }
    .tb th { background-color: lightblue; }
</style>
<a href="/logout" th:text="#{logout}"></a><br>
<a href="/admin/profileInfo" th:text="#{myProfile}"></a><br>
<a href="/" th:text="#{homePage}"></a><br>
<table class="tb">
    <caption th:text="#{allComments}"></caption>
    <tr>
        <th th:text="#{commentContent}"></th>
        <th th:text="#{commentRating}"></th>
        <th th:text="#{commentAuthor}"></th>
        <th th:text="#{commentTraining}"></th>
        <th th:text="#{status}"></th>
        <th th:text="#{commentAnonymous}"></th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.content}"></td>
        <td th:text="${comment.rating}"></td>
        <td  th:if="${comment.author != null}" th:text="${comment.author.username}"></td>
        <td  th:if="${comment.author == null}" th:text="#{commentAuthorAnonymous}"></td>
        <td th:text="${comment.training.name}"></td>
        <td th:text="${comment.status}"></td>
        <td th:text="${comment.anonymous}"></td>
        <td>
            <form method="post" th:action="@{accept}">
                <input type="hidden" name="id" th:value="${comment.id}">
                <input type="submit" th:value="#{accept}" />
            </form>
        </td>
        <td>
            <form method="post" th:action="@{reject}">
                <input type="hidden" name="id" th:value="${comment.id}">
                <input type="submit" th:value="#{reject}" />
            </form>
        </td>
    </tr>
</table>
</body>
</html>