<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{editProfile}"></title>
</head>
<body>
<style>
    .tb { border-collapse: collapse; }
    .tb th, .tb td { padding: 5px; border: solid 1px #777; }
    .tb th { background-color: lightblue; }
</style>
<a href="/logout" th:text="#{logout}"></a><br>
<a th:if="${user.role.name == 'MEMBER'}" href="/member/profileInfo" th:text="#{myProfile}"></a>
<a th:if="${user.role.name == 'ADMINISTRATOR'}" href="/admin/profileInfo" th:text="#{myProfile}"></a><br>
<a href="/" th:text="#{homePage}"></a><br>
<form method="post" th:action="@{editProfile}">
    <table class="tb">
        <caption th:text="#{editProfile}"></caption>
        <tr>
            <th th:text="#{table.username}"></th>
            <td><span th:text="${user.username}"></span></td>
        </tr>
        <tr>
            <th th:text="#{table.email}"></th>
            <td> <input type="email" name="email" th:value="${user.email}"/></td>
        </tr>
        <tr>
            <th th:text="#{table.name}"></th>
            <td><input type="text" name="name" th:value="${user.name}"/></td>
        </tr>
        <tr>
            <th th:text="#{table.surname}"></th>
            <td><input type="text" name="surname" th:value="${user.surname}"/></td>
        </tr>
        <tr>
            <th th:text="#{table.dateOfBirth}"></th>
            <td><input type="datetime-local" name="dateOfBirth" th:value="${user.dateOfBirth}"/></td>
        </tr>
        <tr>
            <th th:text="#{table.address}"></th>
            <td><input type="text" name="address" th:value="${user.address}"/></td>
        </tr>
        <tr>
            <th th:text="#{table.phoneNumber}"></th>
            <td><input type="text" name="phoneNumber" th:value="${user.phoneNumber}"/></td>
        </tr>
        <tr>
            <th th:text="#{table.registrationDate}"></th>
            <td><span th:text="${user.registrationDate}"></span></td>
        </tr>
        <tr>
            <th th:text="#{newPassword}"></th>
            <td><input type="password" name="newPassword"/></td>
        </tr>
        <tr>
            <th th:text="#{newPasswordRepeated}"></th>
            <td><input type="password" name="repeatNewPassword"/></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" th:value="#{save}" /></td>
        </tr>
    </table>
</form>
<h3 th:if="${error}" th:text="#{error}"></h3>
</body>
</html>