<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{homePage}"></title>
</head>
<body>
<a href="login" th:text="#{login}"></a><br>
<a href="registration" th:text="#{register}"></a>
<style>
	.tb { border-collapse: collapse; }
	.tb th, .tb td { padding: 5px; border: solid 1px #777; }
	.tb th { background-color: lightblue; }
</style>
<table class="tb">
	<caption th:text="#{allTrainings}"></caption>
	<tr>
		<th th:text="#{table.trainingName}"></th>
		<th th:text="#{table.trainingInstructor}"></th>
		<th th:text="#{table.trainingDescription}"></th>
		<th th:text="#{table.typeOfTraining}"></th>
		<th th:text="#{table.trainingPrice}"></th>
	</tr>
	<tr th:each="training : ${trainings}">
		<td th:text="${training.name}"></td>
		<td th:text="${training.instructor}"></td>
		<td th:text="${training.description}"></td>
		<td th:text="${training.typeOfTraining}"></td>
		<td th:text="${training.price}"></td>
	</tr>
</table>
</body>
</html>