<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login}"></title>
</head>
<body>
<a th:href="@{?lang=sr}" th:text="#{serbia}"></a>
<a th:href="@{?lang=en}" th:text="#{english}"></a><br>
<a href="registration" th:text="#{register}"></a>
<form method="post" th:action="@{/login}">
    <table>
        <caption th:text="#{login}"></caption>
        <tr>
            <th th:text="#{username}"></th>
            <td><input type="text" name="username" required/></td>
        </tr>
        <tr>
            <th th:text="#{password}"></th>
            <td><input type="password" name="password" required/></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" th:value="#{login}" /></td>
        </tr>
    </table>
</form>
<p th:if="${error}" th:text="#{login.error}"></p>
<a href="home" th:text="#{homePage}"></a>
</body>
</html>