<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{loyatyCard}"></title>
</head>
<body>
<a href="/logout" th:text="#{logout}"></a><br>
<a href="/member/profileInfo" th:text="#{myProfile}"></a><br>
<a href="/" th:text="#{homePage}"></a><br>
<div th:if="${loyaltyCard} == null">
    <form method="post" th:action="@{createLoyaltyCard}">
        <input type="submit" th:value="#{createCard}"/>
    </form>
</div>
<div  th:if="${loyaltyCard} != null">
    <span th:text="#{userInfo} + ${loyaltyCard.user.name} + ' ' + ${loyaltyCard.user.surname}"></span><br>
    <span th:text="#{loyaltyPoints} + ': ' + ${loyaltyCard.points}"></span>
</div>
</body>
</html>