<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Loyalty Cards</title>
</head>
<body>
<style>
    .tb { border-collapse: collapse; }
    .tb th, .tb td { padding: 5px; border: solid 1px #777; }
    .tb th { background-color: lightblue; }
</style>
<a href="/logout">Logout</a><br>
<a href="/admin/profileInfo">My profile</a><br>
<a href="/">Home</a><br>
<table class="tb">
    <caption>Loyalty card requests</caption>
    <tr>
        <th>User</th>
        <th>Points</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="loyaltyCard : ${loyaltyCards}">
        <td th:text="${loyaltyCard.user.username}"></td>
        <td th:text="${loyaltyCard.points}"></td>
        <td th:text="${loyaltyCard.status}"></td>
        <td>
            <form method="post" th:action="@{acceptLoyaltyCard}">
                <input type="hidden" name="id" th:value="${loyaltyCard.id}">
                <input type="submit" value="Accept" />
            </form>
        </td>
        <td>
            <form method="post" th:action="@{rejectLoyaltyCard}">
                <input type="hidden" name="id" th:value="${loyaltyCard.id}">
                <input type="submit" value="Reject" />
            </form>
        </td>
    </tr>
</table>
</body>
</html>