<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Member</title>
</head>
<body>
<a href="/logout">Logout</a><br>
<a href="/member/profileInfo">My profile</a><br>
<a href="/member/loyaltyCard">Loyalty card</a>
<h3 th:if="${request}">Already applied for loyalty card</h3>
<style>
	.tb { border-collapse: collapse; }
	.tb th, .tb td { padding: 5px; border: solid 1px #777; }
	.tb th { background-color: lightblue; }
</style>
<table class="tb">
	<caption>All trainings</caption>
	<tr>
		<th>Name</th>
		<th>Instructor</th>
		<th>Price</th>
		<th>More info</th>
	</tr>
	<tr th:each="training : ${trainings}">
		<td th:text="${training.name}"></td>
		<td th:text="${training.instructor}"></td>
		<td th:text="${training.price}"></td>
		<td><a th:href="@{|/member/trainingInfo?id=${training.id}|}">Details</a></td>
	</tr>
</table>
<a href="/member/cart">Cart</a><br>
<a href="/member/wishList">Wish list</a>
<h3 th:if="${cart}">Nothing in cart</h3>
<h3 th:if="${wishList}">Nothing in wish list</h3>
</body>
</html>