<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="post" action="/registration">
    <table>
        <caption>Registration</caption>
        <tr>
            <th>Username:</th>
            <td><input type="text" name="username" required/></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input type="password" name="password" required/></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><input type="email" name="email" required
            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></td>
        </tr>
        <tr>
            <th>Name:</th>
            <td><input type="text" name="name" required/></td>
        </tr>
        <tr>
            <th>Surname:</th>
            <td><input type="text" name="surname" required/></td>
        </tr>
        <tr>
            <th>Date of birth:</th>
            <td><input type="datetime-local" name="dateOfBirth" required/></td>
        </tr>
        <tr>
            <th>Address:</th>
            <td><input type="text" name="address" required/></td>
        </tr>
        <tr>
            <th>Phone number:</th>
            <td><input type="text" name="phoneNumber" required/></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Register" /></td>
        </tr>
    </table>
</form>
<h3 th:if="${error}">Something went wrong</h3>
<a href="login">Already a member?</a>
</body>
</html>