<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{table.training}"></title>
</head>
<body>
<a href="/logout" th:text="#{logout}"></a><br>
<a th:if="${user.role.name == 'ADMINISTRATOR'}" href="/admin/profileInfo" th:text="#{myProfile}"></a>
<a th:if="${user.role.name == 'MEMBER'}" href="/member/profileInfo" th:text="#{myProfile}"></a><br>
<a href="/" th:text="#{homePage}"></a><br>
<form method="post" th:action="@{addToCart}">
	<span th:text="#{trainingName} + ${training.name}"></span><br>
	<span th:text="#{trainingInstructor} + ${training.instructor}"></span><br>
	<span th:text="#{trainingDescription} + ${training.description}"></span><br>
	[[#{trainingPhoto}]] <img th:src="${training.photo}"/><br>
	<span th:text="#{typeOfTraining} + ${training.typeOfTraining}"></span><br>
	<span th:text="#{trainingDescription} + ${training.typeOfTraining.description}"></span><br>
	<span th:text="#{trainingPrice} + ${training.price}"></span><br>
	<span th:text="#{trainingType} + ${training.trainingType}"></span><br>
	<span th:text="#{trainingIntensity} + ${training.trainingLVL}"></span><br>
	[[#{trainingDate}]]
	<select name="id">
		<option th:each="appointment : ${appointments}" th:text="${appointment.startDate}" th:value="${appointment.id}"></option>
	</select>
	<br>
	<span th:text="#{trainingDuration} + ${training.duration}"></span><br>
	<button th:if="${user.role.name == 'MEMBER'}" type="submit" th:text="#{addShoppingCart}"></button>
</form>
<form method="post" th:action="@{addToWishList}">
	<input type="hidden" name="trainingId" th:value="${training.id}">
	<button th:if="${user.role.name == 'MEMBER'}" type="submit" th:text="#{addWishList}"></button>
</form>
<h3 th:if="${error}" th:text="#{alreadyInCart}"></h3>
<h3 th:if="${wishList}" th:text="#{alreadyInWishList}"></h3>
<a th:if="${user.role.name == 'ADMINISTRATOR'}" th:href="@{|/admin/editTraining?id=${training.id}|}" th:text="#{editTraining}"></a>
<br>
<br>
<br>
<br>
<form th:if="${user.role.name == 'MEMBER'}" method="post" th:action="@{postComment}">
	<input type="hidden" name="training" th:value="${training.id}">
	[[#{leaveComment}]] <br> <textarea rows="3" cols="40" name="content" required></textarea><br>
	[[#{rateTraining}]]
	<select name="rating" required>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select><br>
	[[#{anonymous}]] <input type="checkbox" name="anonymous"><br>
	<input type="submit" th:value="#{publishComment}" />
</form>
<h2 th:if="${error}" th:text="#{commentError}"></h2>
<br>
<br>
<br>
<br>
<h2 th:text="#{commentSection}"></h2>
<p th:each="comment : ${comments}">
	<span th:text="#{publishedDate} + ${comment.date}"></span><br>
	<span th:text="#{comment} + ${comment.content}"></span><br>
	<span th:text="#{rating} + ${comment.rating}"></span><br>
	<span th:if="${comment.author != null}" th:text="#{userAnonymous} + ${comment.author.username}"></span>
	<span th:if="${comment.author == null}" th:text="#{commentAuthorAnonymous}"></span>
</p>
</body>
</html>