<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{userDetails}"></title>
</head>
<body>
<a href="/logout" th:text="#{logout}"></a><br>
<a href="/admin/profileInfo" th:text="#{myProfile}"></a><br>
<a href="/" th:text="#{homePage}"></a><br>
    <span th:text="#{username} + ${user.username}"></span><br>
    <span th:text="#{email} + ${user.email}"></span><br>
    <span th:text="#{name} + ${user.name}"></span><br>
    <span th:text="#{surname} + ${user.surname}"></span><br>
    <span th:text="#{dateOfBirth} + ${user.dateOfBirth}"></span><br>
    <span th:text="#{address} + ${user.address}"></span><br>
    <span th:text="#{phoneNumber} + ${user.phoneNumber}"></span><br>
    <span th:text="#{registrationDate} + ${user.registrationDate}"></span><br>
    <span th:text="#{userRole} + ${user.role.name}"></span><br>
    <span th:text="#{isBlocked} + ${user.isBlocked}"></span><br>
    <a th:href="@{|editUser?id=${user.username}|}" th:text="#{editUser}"></a>
</body>
</html>